<section>
    <div class="login">
    <div class="main-login-page">
        <div class="log-image">
            <h2>Login <i class="fa-solid fa-right-to-bracket"></i></h2>
            <h5>Get access to your Orders, Wishlist and Recommendations</h5>
            <img src="log.avif" alt="">
        </div>
        <div class="login-form">
            <form action="">
                <p>
                    <label for="">UserName/Mobile Number</label>
                    <input type="text" class="form-control" name="" id="">
                </p>
                <p>
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="" id="">
                </p>
                <p class="con">By continuing, you agree to Flipkart's <a href="">Terms of Use</a> and <a href="">Privacy
                        Policy</a>.</p>
                <button>Login</button>
            </form>
            <p class="newuser"><a href="">New to ShopNova? Creater an account.</a></p>
        </div>
    </div>
</div>
<div class="signup">
    <div class="main-signup-page">
        <div class="signup-form">
            <h3>Create an Account</h3>
            <form action="">
                <p>
                    <label for="">Email/Mobile Number</label>
                    <input type="text" class="form-control" name="" id="">
                </p>
                <p>
                    <label for="">Mobile Number</label>
                    <input type="number" class="form-control" name="" id="">
                </p>
                <p>
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="" id="">
                </p>
                <p>
                    <label for="">Confirm Password</label>
                    <input type="password" class="form-control" name="" id="">
                </p>
                <p class="con">By continuing, you agree to Flipkart's <a href="">Terms of Use</a> and <a href="">Privacy
                        Policy</a>.</p>
                <button>Create Account</button>
                <button>Already Have an account?</button>
            </form>
        </div>
        <div class="signup-image">
            <h2>Sign Up <i class="fa-solid fa-right-to-bracket"></i></h2>
            <h5>Get access to your Orders, Wishlist and Recommendations</h5>
            <img src="sign.avif" alt="">
        </div>
    </div>
</div>
</section>