<section class="container-fluid w1 bg-dark">
    <div class="Add m-auto">
        <form action="">
            <p>
                <label for=""> Product Name</label>
                <input type="text" name="proname" class="form-control" placeholder="Enter Product Name">
            </p>
            <p>
                <label for=""> Brand Name</label>
                <select class="form-select">
                    <option value="" disabled selected>----Select Brand----</option>
                    <option value="">Redmi</option>
                </select>
            </p>
            <p class="desc">
                <label for="">Description</label>
                <input type="text" name="proname" class="form-control" placeholder="Enter Description Name">
            </p>
            <p>
                <label for=""> Price</label>
                <input type="number" name="price" class="form-control" placeholder="Eg: $9999">
            </p>
            <p>
                <label for=""> Category Name</label>
                <select class="form-select">
                    <option value="" disabled selected>----Select Category----</option>
                    <option value="">Electronics</option>
                </select>
            </p>
            <p class="subdiv">
                <label for="">SubCategory Name</label>
                <select class="form-select">
                    <option value="" disabled selected>----Select SubCategory----</option>
                    <option value=""> Laptop</option>
                </select>
            </p>
            <p class="subdiv">
                <label for="">Stock Quntity</label>
                <input type="number" name="price" class="form-control" placeholder="Eg: $9999">
            </p>
            <p class="subdiv">
                <label for=""> Price</label>
                <input type="file" name="price" accept="image/*" class="form-control" placeholder="Eg: $9999">
            </p>
            <p class="w">
                <input type="checkbox" name="" id="">Product_Available

            </p>
            <p>
                <button class="btn btn-primary" type="submit">Add Product</button>
            </p>
        </form>
    </div>
</section>