<main>
    <section>
        <nav class=" d-flex py-2">
            <h3 class="logo">ShopNova</h3>
            <div class="searchbar">
                <input type="text" class="form-control" placeholder="Search for Products, Brand and More..........">
                <i class="fa-solid fa-magnifying-glass pt-3 pe-3"></i>
            </div>
            <div id="maindiv">
                <div class="icons_Style login">
                    <i class="fa-solid fa-circle-user"></i>
                    <p><a href="">Login</a></p>
                </div>
                <div class="icons_Style">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <p><a href="">Cart</a></p>
                </div>
                <div class="icons_Style">
                    <i class="fa-solid fa-store"></i>
                    <p><a href="">Become_Seller</a></p>
                </div>
            </div>
        </nav>
    </section>

    <section id="menu_section">
        <ul class="list dropdown">
            <li><a href="">Home</a></li>
            <li><a href="">All_Products <i class="fa-solid fa-arrow-down"></i></a></li>
            <li><a href="">New_Collections</a></li>
            <li><a href="">Electronics</a></li>
            <li><a href="">Add_Products</a></li>
        </ul>
    </section>
    <section id="s2">
        <div class="container py-3">
            <router-outlet></router-outlet>
        </div>
    </section>

    <footer>
        <div class="d-block d-sm-flex flex-wrap  Mainfooter">
            <div class="FootDetails an flex-grow-1">
                <h3>Products</h3>
                <a href="#">Electronics</a>
                <a href="#">Accessories</a>
                <a href="#">Fashion</a>
                <a href="#">Home Appliance</a>
                <a href="#">Personal Care</a>
                <a href="#">Food</a>
            </div>
            <div class="FootDetails an flex-grow-1">
                <h3>Legal</h3>
                <a href="#">Privacy Policy</a>
                <a href="#">Refund Policy</a>
                <a href="#">Cookie Policy</a>
                <a href="#">Terms & Conditions</a>
            </div>
            <div class="FootDetails an flex-grow-1">
                <h3>Payment & Shipping</h3>
                <a href="">Terms Of Use</a>
                <a href="">Payment Methods</a>
                <a href="">Shipping Guide</a>
                <a href="">Estimated Delievery Time</a>
                <a href="">Terms Of Use</a>
                <a href="">Payment Methods</a>
            </div>
            <div class="FootDetails an flex-grow-1">
                <h3>About</h3>
                <a href="">Contact Us</a>
                <a href="">About Us</a>
                <a href="">Careers</a>
                <a href="">ShopNove Services</a>
                <a href="">Press</a>
                <a href="">Corporate Information</a>
            </div>
            <div class="address ">
                <h3>Mail Us</h3>
                <p>Shop Nova Internet Private Limited,Buildings Alyssa, Begoina & Clove Embassy Tech Village Outer Ring
                    Road, Deverabeesanahalli Village, Bengaluru, 5601305, Karnataka, India</p>
            </div>
            <div class="FootDetails">
                <h3>Social</h3>
                <div class="social">
                    <a href="" class="x1"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="" class="x2"><i class="fa-brands fa-github"></i></a>
                    <a href="" class="x3"><i class="fa-brands fa-facebook"></i></a>
                    <a href=" " class="x4"><i class="fa-brands fa-instagram"></i></a>
                    <a href="" class="x5"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </footer>
</main>