<main>
    <section>
        <nav class=" d-flex py-2">
            <h3 class="logo">ShopNova</h3>
            <div class="searchbar">
                <input type="text" class="form-control" placeholder="Search for Products, Brand and More..........">
                <i class="fa-solid fa-magnifying-glass pt-3 pe-3"></i>
            </div>
            <div id="maindiv">
                <div class="icons_Style login">
                    <i class="fa-solid fa-circle-user"></i>
                    <p><a href="">Login</a></p>
                </div>
                <div class="icons_Style">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <p><a href="">Cart</a></p>
                </div>
                <div class="icons_Style">
                    <i class="fa-solid fa-store"></i>
                    <p><a href="">Become_Seller</a></p>
                </div>
            </div>
        </nav>
    </section>

    <section id="menu_section">
        <h5>adiohfosfohniou</h5>
    </section>
</main>