<div class="container pt-3">
    <h5>Electronics</h5>
    <marquee behavior="" direction="">Smartphones, laptops, tablets, televisions, refrigerators, washing machines,
        microwaves, headphones, speakers, smart home assistants, gaming consoles, cameras, drones, smartwatches, fitness
        trackers.</marquee>
</div>

<section class="product-section container">
    <div class="main-div">
        <div class="cards">
            <img src="2.webp" alt="">
            <div class="pro-desc">
                <p class="title">New Branded Laptop Ryzen 7 5000s</p>
                <p><span class="span">4.3<i class="fa-solid fa-star"></i></span><span class="rev">(1493)</span></p>
                <p class="price">&#8377;15,000 <del>&#8377;17,500</del><span class="off"> 15% Off</span></p>
            </div>
        </div>
        <div class="cards">
            <img src="2.webp" alt="">
            <div class="pro-desc">
                <p class="title">New Branded Laptop Ryzen 7 5000s</p>
                <p><span class="span">4.3<i class="fa-solid fa-star"></i></span><span class="rev">(1493)</span></p>
                <p class="price">&#8377;15,000 <del>&#8377;17,500</del><span class="off"> 15% Off</span></p>
            </div>
        </div>
        <div class="cards">
            <img src="2.webp" alt="">
            <div class="pro-desc">
                <p class="title">New Branded Laptop Ryzen 7 5000s</p>
                <p><span class="span">4.3<i class="fa-solid fa-star"></i></span><span class="rev">(1493)</span></p>
                <p class="price">&#8377;15,000 <del>&#8377;17,500</del><span class="off"> 15% Off</span></p>
            </div>
        </div>
        <div class="cards">
            <img src="2.webp" alt="">
            <div class="pro-desc">
                <p class="title">New Branded Laptop Ryzen 7 5000s</p>
                <p><span class="span">4.3<i class="fa-solid fa-star"></i></span><span class="rev">(1493)</span></p>
                <p class="price">&#8377;15,000 <del>&#8377;17,500</del><span class="off"> 15% Off</span></p>
            </div>
        </div>
        <div class="cards">
            <img src="2.webp" alt="">
            <div class="pro-desc">
                <p class="title">New Branded Laptop Ryzen 7 5000s</p>
                <p><span class="span">4.3<i class="fa-solid fa-star"></i></span><span class="rev">(1493)</span></p>
                <p class="price">&#8377;15,000 <del>&#8377;17,500</del><span class="off"> 15% Off</span></p>
            </div>
        </div>
        <div class="cards">
            <img src="2.webp" alt="">
            <div class="pro-desc">
                <p class="title">New Branded Laptop Ryzen 7 5000s</p>
                <p><span class="span">4.3<i class="fa-solid fa-star"></i></span><span class="rev">(1493)</span></p>
                <p class="price">&#8377;15,000 <del>&#8377;17,500</del><span class="off"> 15% Off</span></p>
            </div>
        </div>
    </div>
</section>