<section class="autoScroll">
    <swiper-container loop="true" pagination="true" speed="1000" autoplay-delay="1500">
        <swiper-slide>
            <img src="d09a5eb3fc5c940e.webp" alt="">
        </swiper-slide>
        <swiper-slide>
            <img src="1316eb53d6f52c71.webp" alt="Image Not available">
        </swiper-slide>
        <swiper-slide>
            <img src="d9290fb51138d286.webp" alt="Image Not available">
        </swiper-slide>
        <swiper-slide>
            <img src="e6dc4b4c88912592.webp" alt="Image Not available">
        </swiper-slide>
    </swiper-container>
</section>
<section class="products">
    <div class="d-flex justify-content-between">
        <h5>Electronics</h5>
        <a href="">See All >></a>
    </div>
    <aside>
        <div class="Cards-container">
            <div class="cards">
                <img src="2.webp" alt="">
                <h4>Laptops</h4>
            </div>
        </div>
        <div class="Cards-container">
            <div class="cards">
                <img src="3.jpg" alt="">

                <h4>Mobiles</h4>
            </div>
        </div>
        <div class="Cards-container">
            <div class="cards">
                <img src="4.webp" alt="">

                <h4>Sound Bar</h4>
            </div>
        </div>
        <div class="Cards-container">
            <div class="cards">
                <div class="card-in">
                    <img src="5.png" alt="">
                </div>
                <h4>TV</h4>
            </div>
        </div>
        <div class="Cards-container">
            <div class="cards">
                <div class="card-in">
                    <img src="7.webp" alt="">
                </div>
                <h4>Laptops</h4>
            </div>
        </div>
    </aside>
</section>
<section class="fastion">
    <div class="d-flex justify-content-between">
        <h5>Fashion</h5>
        <a href="">See All >></a>
    </div>
    <swiper-container navigation="true" speed="1000" slides-per-view="6">
        <swiper-slide>
            <div class="Cards-fashion-container">
                <div class="f-card">
                    <img src="https://assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/22217700/2023/3/3/151517e3-132f-4809-a238-66d26dade8bf1677849183542KISAHMenPinkKurta1.jpg"
                        alt="">
                    <p>Men's</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="Cards-fashion-container">
                <div class="f-card">
                    <img src="https://assets.ajio.com/medias/sys_master/root/20240131/SSO7/65ba81578cdf1e0df5dca3b5/-473Wx593H-467027148-pink-MODEL.jpg"
                        alt="">
                    <p>Women's</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="Cards-fashion-container">
                <div class="f-card">
                    <img src="https://5.imimg.com/data5/SELLER/Default/2024/3/396850454/PG/RJ/BI/23831093/girls-two-piece-outfits-kids-fashion-short-sleeve-sweater-tops-and-wide-leg-pants-set-1.png"
                        alt="">
                    <p>Kid's</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="Cards-fashion-container">
                <div class="f-card">
                    <img src="https://i.pinimg.com/550x/ec/85/d1/ec85d1aa08a6194d31542066b2e270dc.jpg" alt="">
                    <p>Men Formal's</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="Cards-fashion-container">
                <div class="f-card">
                    <img src="https://assets.ajio.com/medias/sys_master/root/20230628/pnRE/649b7c27eebac147fc161b46/-1117Wx1400H-465705623-black-MODEL.jpg"
                        alt="">
                    <p>Women Casual's</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="Cards-fashion-container">
                <div class="f-card">
                    <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/shoe/t/g/f/9-100-corsac-red-original-imagzx8v3hzh9tjr.jpeg?q=70"
                        alt="">
                    <p>Men's FootWear</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="Cards-fashion-container">
                <div class="f-card">
                    <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/sandal/j/e/r/4-hb7-madam-glorious-purple-original-imagq7szcbxpz8zg.jpeg?q=70"
                        alt="">
                    <p>Women's FootWear</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="Cards-fashion-container">
                <div class="f-card">
                    <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/bootie/6/p/q/black-pink-shoes-teady-ashish-traders-original-imagtnvqgdacfzhf.jpeg?q=70"
                        alt="">
                    <p>Kid's FootWear</p>
                </div>
            </div>
        </swiper-slide>
    </swiper-container>
</section>
<section class="Home-Appliance">
    <div class="d-flex justify-content-between">
        <h5>Home-Appliance</h5>
        <a href="">See All >></a>
    </div>
    <swiper-container navigation="true" speed="1000" slides-per-view="6">
        <swiper-slide>
            <div class="Cards-fashion-container">
                <div class="h-card">
                    <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/water-purifier/j/r/n/audi-grand-plus-original-imah5mrcvayr9uez.jpeg?q=70"
                        alt="">
                    <p>Water Purifiers</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="Cards-fashion-container">
                <div class="h-card">
                    <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/air-cooler/l/j/c/105-0-xeno-45-hindware-smart-appliances-original-imah724yvtdvqqnj.jpeg?q=70"
                        alt="">
                    <p>Air Cooler</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="Cards-fashion-container">
                <div class="h-card">
                    <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/washing-machine-new/0/q/e/-original-imags7pzrywzxc2z.jpeg?q=70"
                        alt="">
                    <p>Washing Machines</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="Cards-fashion-container">
                <div class="h-card">
                    <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/refrigerator-new/0/g/c/-original-imagpw45rfzvyrqq.jpeg?q=70"
                        alt="">
                    <p>Refrigerator</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="Cards-fashion-container">
                <div class="h-card">
                    <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/iron/p/d/7/amaze-ni-10-nova-plus-original-imah4f6rfvgvdnyt.jpeg?q=70"
                        alt="">
                    <p>Iron Box</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="Cards-fashion-container">
                <div class="h-card">
                    <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/water-geyser/y/p/d/2024-shield-series-popular-plus-25l-2000-bajaj-25-original-imah3h4syy6ruyrn.jpeg?q=70"
                        alt="">
                    <p>Water Heater</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="Cards-fashion-container">
                <div class="h-card">
                    <img src="https://rukminim2.flixcart.com/image/312/312/xif0q/fan/g/j/9/creta-p1-50-1-ceiling-fan-1200-longway-original-imah6h8ae2awmtrs.jpeg?q=70"
                        alt="">
                    <p>Electric Fan</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="Cards-fashion-container">
                <div class="h-card">
                    <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/room-heater/i/d/0/-original-imagg9s4sy7ujhh3.jpeg?q=70"
                        alt="">
                    <p>Room Heater</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="Cards-fashion-container">
                <div class="h-card">
                    <img src="https://rukminim2.flixcart.com/image/612/612/klicfww0/cake-maker/e/e/k/sayona-2021-shopocus-enterprice-original-imagym38ug3rymuu.jpeg?q=70"
                        alt="">
                    <p>Hand Blender</p>
                </div>
            </div>
        </swiper-slide>
    </swiper-container>
</section>
<section class="autoScroll">
    <swiper-container loop="true" pagination="true" speed="1000" autoplay-delay="1400">
        <swiper-slide>
            <img src="b1.png" alt="">
        </swiper-slide>
        <swiper-slide>
            <img src="b2.jpg" alt="Image Not available">
        </swiper-slide>
        <swiper-slide>
            <img src="b4.webp" alt="Image Not available">
        </swiper-slide>
        <swiper-slide>
            <img src="b5.webp" alt="Image Not available">
        </swiper-slide>
        <swiper-slide>
            <img src="b6.webp" alt="Image Not available">
        </swiper-slide>
        <swiper-slide>
            <img src="b7.webp" alt="Image Not available">
        </swiper-slide>
    </swiper-container>
</section>
<section class="Small-detailing">
    <div class="side-1">
        <div class="d-flex">
            <h4>Winter Offers For You</h4>
            <a href=""><i class="fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="Main-card">
            <div class="card-in-1">
                <div>
                    <img src="https://rukminim2.flixcart.com/image/200/200/xif0q/shoe/9/9/n/6-sneakers-grey-6-winprice-grey-original-imagrdezbnfaqru8.jpeg?q=70"alt="">
                </div>
                <div class="cards-desc">
                    <h4>US Polo</h4>
                    <p>Min. 50% Off</p>
                </div>
            </div>
            <div class="card-in-1">
                <img src="https://rukminim2.flixcart.com/image/200/200/xif0q/backpack/r/r/3/13-xelius-pro-03-backpack-dark-green-7-bpxelpr3dgn-laptop-original-imagxfe7gctzyfb7.jpeg?q=70" alt="">
                <div class="cards-desc">
                    <h4>Bags</h4>
                    <p>Min. 10% Off</p>
                </div>
            </div>
            <div class="card-in-1">
                <img src="https://rukminim2.flixcart.com/image/200/200/xif0q/jewellery-set/u/r/j/na-na-3-js-pr-10549-priyaasi-original-imah25mhxfnnqvmk.jpeg?q=70" alt="">
                <div class="cards-desc">
                    <h4>Accessories</h4>
                    <p>Min. 75% Off</p>
                </div>
            </div>
            <div class="card-in-1">
                <img src="https://rukminim2.flixcart.com/image/200/200/xif0q/sweatshirt/7/f/2/s-jhd0423gypt27-juneberry-original-imah6punkhyrgjsm.jpeg?q=70" alt="">
                <div class="cards-desc">
                    <h4>Hody</h4>
                    <p>Min. 40% Off</p>
                </div>
            </div>
        </div>
    </div>
    <div class="side-2">
        <div class="d-flex">
            <h4>End of Season Bestsellers</h4>
            <a href=""><i class="fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="Main-card">
            <div class="card-in-1">
                <div>
                    <img src="https://rukminim2.flixcart.com/image/200/200/xif0q/dining-set/v/n/1/white-rosewood-sheesham-rectangle-4-seater-sa-fsd-18-swangia-original-imagtewepekgqch6.jpeg?q=70"alt="">
                </div>
                <div class="cards-desc">
                    <h4>Dining Sets</h4>
                    <p>Min. 50% Off</p>
                </div>
            </div>
            <div class="card-in-1">
                <img src="https://rukminim2.flixcart.com/image/200/200/xif0q/watch/1/w/7/2-combo-pack-of-2-new-arrival-black-brown-renisales-men-original-imah3rd5vfhgh6tw.jpeg?q=70" alt="">
                <div class="cards-desc">
                    <h4>Watches</h4>
                    <p>Min. 10% Off</p>
                </div>
            </div>
            <div class="card-in-1">
                <img src="https://rukminim2.flixcart.com/image/200/200/xif0q/blanket/w/9/a/self-design-double-mink-blanket-cotton-multicolor-rrfgretyertu-original-imah573rn6qprs2d.jpeg?q=70" alt="">
                <div class="cards-desc">
                    <h4>Blankets</h4>
                    <p>Min. 55% Off</p>
                </div>
            </div>
            <div class="card-in-1">
                <img src="https://rukminim2.flixcart.com/image/200/200/xif0q/shoe/q/a/f/-original-imagunxqzzfuf9pf.jpeg?q=70" alt="">
                <div class="cards-desc">
                    <h4>Men's Formal</h4>
                    <p>Min. 40% Off</p>
                </div>
            </div>
        </div>
    </div>
    <div class="side-3">
       <img src="https://rukminim2.flixcart.com/fk-p-flap/520/280/image/1c79713627d7b774.jpg?q=20" alt="">
       <img src="https://rukminim1.flixcart.com/fk-p-flap/520/280/image/930eec8e461eb1ab.jpg?q=20" alt="">
       <button>Explore More </button>
    </div>
</section>