<section class="autoScroll">
    <swiper-container loop="true" pagination="true" speed="1000" autoplay-delay="1500">
        <swiper-slide>
            <img src="d09a5eb3fc5c940e.webp" alt="">
        </swiper-slide>
        <swiper-slide>
            <img src="1316eb53d6f52c71.webp" alt="Image Not available">
        </swiper-slide>
        <swiper-slide>
            <img src="d9290fb51138d286.webp" alt="Image Not available">
        </swiper-slide>
        <swiper-slide>
            <img src="e6dc4b4c88912592.webp" alt="Image Not available">
        </swiper-slide>
    </swiper-container>
</section>
<section class="products">
    <div class="d-flex justify-content-between">
        <h5>Electronics</h5>
        <a href="">See All >></a>
    </div>
    <aside>
        <div class="Cards-container">
            <div class="cards">
                <div class="card-in">
                    <img src="2.webp" alt="">
                </div>
                <h4>Laptops</h4>
            </div>
        </div>
        <div class="Cards-container">
            <div class="cards">
                <img src="3.jpg" alt="">

                <h4>Mobiles</h4>
            </div>
        </div>
        <div class="Cards-container">
            <div class="cards">
                <img src="4.webp" alt="">

                <h4>Sound Bar</h4>
            </div>
        </div>
        <div class="Cards-container">
            <div class="cards">
                <div class="card-in">
                    <img src="5.png" alt="">
                </div>
                <h4>TV</h4>
            </div>
        </div>
        <div class="Cards-container">
            <div class="cards">
                <div class="card-in">
                    <img src="7.webp" alt="">
                </div>
                <h4>Laptops</h4>
            </div>
        </div>
    </aside>
</section>